.container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 0 16px;
}

.top {
  align-self: center;
  padding: 0 28px 10px 44px;
}

.bottom {
  align-self: center;
  padding: 10px 28px 0 44px;
}

.constructor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 16px 0;
  height: calc(100vh - 388px);
  overflow: auto;
  scrollbar-color: #8585ad #2f2f37; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

.constructor::-webkit-scrollbar {
  width: 12px;
  height: 0;
  background-color: #2f2f37;
}

/* ползунок скроллбара */
.constructor::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.wrapper {
  display: flex;
  align-items: center;
  opacity: 100%;
  transition: opacity 0.3s;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-top: 40px;
}

.order > div button {
  margin-top: 0;
}

.icon {
  width: 36px;
  height: 36px;
  margin-right: 40px;
}

.icon svg {
  width: 36px;
  height: 36px;
  object-fit: cover;
  object-position: center;
}

.overingredient {
  box-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.overbun {
  box-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
