.section {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.burgerIngredients {
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout {
  display: flex;
  flex-direction: column;
  /*max-height: 912px;*/
  height: calc(100vh - 104px);
  margin-top: 40px;
  overflow: scroll;
  scrollbar-color: #8585ad #2f2f37; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

.layout::-webkit-scrollbar {
  width: 12px;
  height: 0;
  background-color: #2f2f37;
}

/* ползунок скроллбара */
.layout::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
