.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 62%;
}

.flex-container {
  display: flex;
}

.link {
  display: flex;
  color: #8585ad;
  text-decoration: none;
  transition: text-decoration 0.5s;
}

.link:hover {
  text-decoration: underline;
}

.active { /* активная ссылка */
  color: #f2f2f3;
}

.iconWrapper {
  margin-right: 8px;
}

.flex-nav-link {
  display: flex;
  flex-direction: column;
}
